{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Сайт ресторана</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Adajio</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">О нас</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Меню</a></li>
        <li><a href="#portfolio" class="page-scroll">Галерея</a></li>
        <li><a href="#team" class="page-scroll">Наши повара</a></li>
        <li><a href="#call-reservation" class="page-scroll">Контакты</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Ciao a tutti</h1>
            <p>Ресторан / Кафе / Паб</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Немного о нас</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="about-img"><img src="{% static 'img/about.jpg' %}" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Наш ресторан</h2>
          <hr>
          <p>Только в нашем ресторане средиземноморской кухни вы сможете ощутить те тонкие и приятные нотки изысканных
            блюд которые никого не смогут оставить равнодушным .</p>
          <h3>Наши повара</h3>
          <p>Каждый наш повар профессионал своего дела, их руки делают просто произведения искусства, а не блюда,
            вы вернетесь в детство и почувствуете себя маленьким ребенком</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Меню</h2>
      <hr>
      <p>Эти шедевры кулинарного искусства просто обязан попробовать каждый житель этой планеты</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for category in dishcategory %}
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">{{ category.name }}</h2>
          <hr>
          {% for d in dish %}
          {% if d.cat.name == category.name %}
          <div class="menu-item">
            <div class="menu-item-name"> {{d.title}} </div>
            <div class="menu-item-price"> {{ d.price }} BYN </div>
            <div class="menu-item-description"> {{ d.description }} </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Галерея</h2>
      <hr>
      <p>Здесь вы сможете визуально насладиться прелестью этих блюд, ведь блюдо должно быть и красивым внешне</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">Общее</a></li>
              {% for cat in dishcategory %}
              <li><a href="#" data-filter=".{{cat.slug}}">{{cat.name}}</a></li>
              {% endfor %}
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        {{% for image in portfolio %}
        <div class="col-sm-6 col-md-4 col-lg-4 {{ image.cat.slug }}">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{ image.image }}" title="{{ image.title }}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>{{image.title}}</h4>
              </div>
              <img src="{{ image.image }}" class="img-responsive" alt="{{ image.title }}"> </a> </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>Наши повара</h2>
        <hr>
        <p>Вот те люди которые создадут для Вас прекрасные мгновения</p>
      </div>
      <div id="row">
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="{% static 'img/team/Kirill.jpg' %}" width="300" height="350" alt="..."></div>
            <div class="caption">
              <h3>Быченок Кирилл</h3>
              <p>Прекрасный шеф-повар который из ничего может сделать кулинарный шедевр, доказано что блюда в его
                исполнении могут погрузить в небольшой и приятный транс</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="{% static 'img/team/Maria.jpg' %}" width="300" height="350" alt="..."></div>
            <div class="caption">
              <h3>Быченок Мария</h3>
              <p>Су-шеф этого прекрасного места. Кроме выдающихся умений готовки обладает отличными дизайнерскими
              способностями, еда будет не только вкусная, но и красивая</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 team">
          <div class="thumbnail">
            <div class="team-img"><img src="{% static 'img/team/Tros.jpg' %}" width="300" height="350" alt="..."></div>
            <div class="caption">
              <h3>Трос, он же Тросельман, он же Гайцы-газазат, он же Тросмандо</h3>
              <p>Мастер маскировки и создания атмосферы на кухне. Его как в известной фразе "Трудно найти, легко
                потерять и невозможно забыть</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call Reservation Section -->
<div id="call-reservation" class="text-center">
  <div class="container">
    <h2>Хотите зарезервировать столик? Звоните по номеру телефона <strong>80291234567</strong></h2>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Сообщение</h2>
      <hr>
      <p>Вы можете отправить нам замечания и предложения, мы будем рады его прочитать</p>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <form name="sentMessage" id="contactForm" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form.name }}

              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form.email }}

              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          {{ form.message }}

          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Отправить сообщение</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Наш адрес</h3>
      <div class="contact-item">
        <p>Авиационная, 49</p>
        <p>Минская область, д. Копище</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Время работы</h3>
      <div class="contact-item">
        <p>Понедельник-пятница: 10:00 - 22:00</p>
        <p>Пятница-воскресенье: 11:00 - 24:00</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Контакты</h3>
      <div class="contact-item">
        <p>Телефон: 80291234567</p>
        <p>Email: kushat_vkusno@mail.ru</p>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <p>&copy; 2022 Adajio. Мы Вас любим</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
